/*Header*/
.navegacion{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 2;
    padding-top: 3rem;
    background-color: transparent;
    .logo{
        font-size: 5rem;
        font-family: 'Encode Sans SC', sans-serif;
        color: #774E4E;
        font-weight: 600;
    }
    a{
        padding: 1rem 2rem;
    }
    .navegacion__menuHamburguesa{
        display: none;
    }
}
.presentacion{
    position: absolute;
    left: 5%;
    bottom: 15%;
    .titulo{
        font-size: 6rem;
        padding: 2rem 0;
    }
    p{
        font-size: 3rem;
        color: #FF974F;
    }
}
.sombraTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to top, transparent 30%,rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 1) 90%);
    z-index: 1;
}
.sombreado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 85%,rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 1) 100%);
}
.sonido{
    position: absolute;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
    padding: 2rem;
    .sonidoIcon{
        width: 3rem;
        height: 3rem;
        color: #c1c1c18c;
    }
    &:hover .sonidoIcon{
        color: #fff;
    }
}
@media (max-width: 720px) {
    .navegacion{
        .navegacion__enlaces{
            top: 0;
            right: 0;
            background-color: #774E4E;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            height: 100%;
            width: 100%;
            visibility: hidden;
            z-index: 98;
            transform: translateX(100%);
            transition: 0.4s;
            a{
                padding: 3rem 0;
            }
        }
        .navegacion__menuHamburguesa{
            display: block;
            position: absolute;
            top: 50%;
            right: 5%;
            z-index: 9999;
        }
        .menuNav{
            width: 4rem;
            fill: #fff;
            cursor: pointer;
            z-index: 99;
        }
        .menuVisible{
            visibility: visible;
            transform: translateX(0%);
        }
    }
    .fixed{
        position: fixed;
    }
}
@media (max-width: 480px) {
    .presentacion{
        .titulo{
            font-size: 4rem;
        }
        p{
            font-size: 3rem;
        }
    }
}
.scrollBody{
    overflow-y: hidden;
}